llava/mm-vet/images/
llava/test_model.pt
llava/*.log
llama/*.log
cuda-vmm/*.nsys-rep
cuda-vmm/*.csv
hw/fio_testfile

__pycache__/
llava/__pycache__/

# Ignore all executable files
cuda-gds/*.exe
cuda-gds/*.out
cuda-gds/*.app
cuda-gds/*.bin

# Ignore object files
cuda-gds/*.o

# Ignore specific log files
cuda-gds/cufile.log

service-compute-gpu/app-compute-cuda/*.nsys-rep
service-compute-gpu/app-compute-cuda/*.csv
service-compute-gpu/app-compute-cuda/test
service-compute-gpu/app-compute-cuda/test.ptx
